/* website log font */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
/* ------------- */

*{
    padding: 0;
    margin: 0;
}
/* nav bar styling */
.navbar_style{
    width:70%;
}

.brand_style{
    font-family: 'Lobster Two', cursive;
    font-size: 1.6rem;
    line-height:.5rem;
    text-decoration: none;
    color: black;
}
/* ----------end--------- */

/* signup and signin page styling */
.signup{
    height: 90vh;
}
.signup_style{
    padding: 2rem;
    box-shadow: 1px 10px 20px -3px black;
}

.signin{
    height: 90vh;
}
.signin_style{
    padding: 2rem;
    box-shadow: 1px 10px 20px -3px black;
    
}

form{
    display: flex;
    flex-direction: column;
}

/* end of sign up and signin page styling */

/* create post styling */
.createpost{
    height: 90vh;
}
.createpost_style{
    padding: 2rem;
    box-shadow: 1px 10px 20px -3px black;
}
/* --------end------------------*/







/* media queries for responsive design */
@media only screen and (max-width:600px){
    .signup_style{
        width:13rem;
    }
}
@media only screen and (min-width:600px) and (min-width:900px){
    .signup_style{
        width:30rem;
    }
}
